:root {
  background-color: #2c2c2c;
  font-family: 'Space Mono', monospace;
  color: white;
}

.App {
  text-align: center;
}

.nav-logo {
  float: left;
  margin-left: 200px;
}

.logo-link {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-top: 20px;
  display: flex;
}

.nav-icon {
  margin-right: 10px;
  margin-top: 2px;
}

.nav-list {
  float: right;
  margin-right: 200px;
  font-size: 20px;
}

.nav-list-item {
  list-style-type: none;
  float: left;
  margin-right: 30px;
}